
<div class="d-flex flex-column align-items-center ">
    <div>
        <img class="" src="https://img.freepik.com/premium-vector/nothing-here-flat-illustration_418302-77.jpg" />
    </div>
    <p class="fw-bold text-center fs-3">Page is Under Construction...</p>
</div>
