
@{ ViewBag.Title = "_LoginLayout"; }


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <script src="~/Scripts/toastr.min.js"></script>
</head>
<body>
    @if (TempData["success"] != null)
    {
<script>
            toastr.success('@TempData["success"]');
</script>}

    @if (TempData["error"] != null)
    {
<script>
            toastr.error('@TempData["error"]');
</script>}

    @if (TempData["warning"] != null)
    {
        <script>
            toastr.warning('@TempData["warning"]');
        </script>
    }

    <section style="padding: 7em 0;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-9 col-lg-9">
                    <div class="wrap border" style="box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24); background: #fff; border-radius: 5px; ">
                        <div style="height: 300px; background-image: url(https://img.freepik.com/free-vector/stores-closed-pandemic-concept_23-2148507420.jpg?size=626&ext=jpg);">
                        </div>
                        <div class="login-wrap p-5">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>